/* .links line {
  stroke: #FFFFFF;
  /* stroke-opacity: 1; */
} */

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

body {
  background-color: #000000;
}

#selectButton {
  left:1300px;
  top: 100px;
  position: relative;
  display: inline-block;
  background: #000000;
  *font-weight: bold;
  color: white;
}

#selectButton2 {
  left:1325px;
  top: 100px;
  position: relative;
  display: inline-block;
  *font-weight: bold;
  color: white;
  background: #000000;
}
