/* .links line {
  stroke: #FFFFFF;
  /* stroke-opacity: 1; */
} */

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

body {
  background-color: #000000;
}

#selectButton {
  left:100px;
  top: 100px;
  position: relative;
  display: inline-block;
}
